<ion-view view-title="Bar Page">
  <ion-content class="homepage" style="color:white">
	<div class="header">
		<img src="img/mixer-logo.png" class="small-logo"/>
	</div>
	<div class="logins">
		<a href="#/bar" style="text-decoration: none;"><img src="img/mixer-bottoms-up.png" class="signin"/></a>
		<a href="#/tab/chats" style="text-decoration: none;"><img src="img/mixer-say-goodbye.png" class="signin"/></a>
		<a href="#/who" style="text-decoration: none;"><img src="img/mixer-whos-here.png" class="signin"/></a>
	</div>
	<div style="text-align:center;">
		<a href="#/newfriend2" style="text-decoration: none;"><img ng-src="img/mixer-whos-here-carousel-2.png" style="width:80%"/></a>
	</div>
  </ion-content>
</ion-view>
